<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PVC Polymer list</title>
</head>
<body>
    {% if pvc_polymer_list %}
    <ul>
    {% for plastic in pvc_polymer_list %}
        <li><a href="/pvc/{{ plastic.id }}/">{{ plastic.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No plastics currently in database.</p>
{% endif %}
</body>
</html>
